<h2 class="buffer-top buffer-bottom"><%= t('registration.forgot_password') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group d-inline-flex buffer-bottom const-width">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'buffer-right-sm form-control' %>
    <span class="align-self-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
      </svg>
    </span>
  </div>

  <div class="actions">
    <%= f.submit t('registration.send_reset_password_instructions'), class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="d-flex flex-column buffer-top-sm">
  <%= render "devise/shared/links" %>
</div>
