<div class="event buffer-top">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background', style: "background-image: url(#{event_photo(@event)})" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l @event.datetime, format: :short %></h3>
            <h3><small><%= link_to @event.address, "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>

          <% if current_user_can_edit?(@event) %>
            <div class="buffer-top buffer-bottom d-flex">
              <%= link_to t('app.change'), edit_event_path(@event), class: 'btn btn-primary buffer-right-sm' %>
              <%= button_to t('app.delete'), event_path(@event), method: :delete, form: {data: {'confirm': t('controllers.events.warnings.before_delete')}}, class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="buffer-top">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <script src="/scripts/yandex_maps.js" type="text/javascript" charset="utf-8">
            </script>

            <div>
              <div id="map" data-address="<%= @event.address %>" style="min-width: 200px; min-height: 300px">
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <h3 class="text-center">
              <%= t('app.photos') %>
            </h3>

            <div class="event-photos-gallery d-flex flex-wrap">
              <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
            </div>

            <% if current_user_can_edit?(@event) %>
              <div class="event-photo-form">
                <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="event-comments mt-5">

          <%= render partial: 'comments/form', locals: {comment: @new_comment || @event.comments.build} %>

          <div class="buffer-both mt-5">
            <div class="buffer-both">
              <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment) %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="event-owner text-center">
          <h4>Зовет:</h4>

          <p><%= render partial: 'users/user', object: @event.user %></p>
        </div>

        <div class="event-subscriptions text-center mt-5">
          <% subscriptions_collection = @event.subscriptions.except(@new_subscription) %>

          <% if subscriptions_collection.present? %>
            <h4>Пойдут:</h4>

            <div>
              <%= render partial: 'subscriptions/subscription', collection: subscriptions_collection %>
            </div>
          <% else %>
            <% if current_user_can_edit?(@event) %>
              <h4>Будьте первым, кто подпишется!</h4>
            <% end %>
          <% end %>
        </div>

        <% unless current_user_can_edit?(@event) %>
          <div class="my-5">
            <%= render partial: 'subscriptions/form', locals: {subscription: @new_subscription || @event.subscriptions.build} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
